__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
db.sqlite3
*.sqlite3
/media/
*.pot
*.log
/static/
staticfiles/
static/
**/migrations/__init__.py
**/migrations/*.pyc
*.egg-info/
*.eggs/
*.manifest
*.spec
dist/
build/
*.egg
*.pyd
*.so
*.dll
*.dylib
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace
node_modules/
*.iml
/.idea/
Pipfile
Pipfile.lock
poetry.lock
secrets.json
config.json
*.out
*.err
*.bak
*.tmp
